* {
  box-sizing : border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: #000000;
}

div {
  color: #fff;
  font-family: monospace;
  width: 100%;
}

.button{
  text-align: left;
  position: absolute;
  margin: 10px;
  z-index: 10;
  bottom: 0;
  font-size: 1vw;
}

label, input {
  cursor: pointer;
}

.menu{
  position: absolute;
  font-family: 'Michroma', sans-serif;
  margin-top: 12%;
  z-index: 10;
  text-align: center;
  h1{
    font-size: 4vw;
  }
  h2{
    font-size: 6vw;
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:hover{
    opacity: 0.8;
  }
}

.socials{
  bottom: 0;
  text-align: center;
  position: absolute;
  a{
    text-decoration: none;
    color: white;
    font-size: 2vw;
    padding: 1.5vw;
  }
  a:hover{
    opacity: 0.5;
  }
}

audio{
  display: none;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  -ms-flex: 33.33%;
  flex: 33.33%;
  max-width: 33.33%;
  img{
    width: 100%;
  }
  img:hover{

  }
}

.gallery{
  h1{
    font-size: 12vw;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
}

.scroll-left{
  position: relative;
  overflow: hidden;
  p {
    font-family: 'Lato', sans-serif;
    position: absolute;
    width: 100%;
    font-size: 15vw;
    margin: 0;
    top: 45%;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
  }
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0%   {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-250%);
    -webkit-transform: translateX(-250%);
    transform: translateX(-250%);
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  /* Close button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  /* Modal content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    height: 50%;
    max-width: 1200px;
    .mySlides {
      display: none;
      img{
        width: 100%;
      }
    }
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 0;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .cursor {
    cursor: pointer;
  }

  img {
    margin-bottom: -4px;
  }

  .active{
    opacity: 1;
  }

  img.hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 100%;
    .modal-content{
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 100%;
    .modal-content{
      width: 100%;
    }
  }
}



